

<div class="container-s1">
    <img class="bg-img-s1">
    <div class="row no-margin">
        <div class="col-lg-5 col-md-4 left-content">
            <div>
                <div class="content-box">
                    <div class="content-div text-center">
                        <div style="border: 1px solid wheat;margin: 10%"></div>
                        <h3>Wedding Lessions</h3>
                        <h4 style="margin : 20px 10% 20px 10%">Be Envied on Your Special Day</h4>
                        <h5>Dance with Confidence</h5>
                        <h5>Dance for a memory</h5>
                        <h5>Dance for a fun</h5>
                        <div style="border: 1px solid wheat;margin: 10%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-8">
        </div>
    </div>
</div>

<!-- <div class="bg-img-s1">
    <div class="row">
        <div class="col-lg-5 col-md-4 ">
            
        </div>
        <div class="col-lg-7 col-md-8">
        </div>
    </div>
</div> -->

<div class="bg-img-s2">
    <div style="padding-top:2%">
        <div class="desktop-image">
            <div class="concern-text">
                <h3>Concerned About Dancing ?</h3><br>
                <p style="font-size: 18px;">
                    You may be worried about dancing at your wedding. The newlywed first dance in 
                    front of all your guests can be intimidating. Likewise, you'll be expected to dance 
                    the rest of the night. Are you ready for that?
                </p><br>
                <p style="font-size: 18px; ">If not, we can help.</p>
            </div>
            <img class="desktop-view" src = "../../assets/img/S2-Wedding.jpeg">
        </div>
    </div>
    
    <div style="color: white; text-align: center; padding: 1% 0% 1% 0%;">
        <h4> <em> Don't let dancing at your wedding cause anxiety. With a little help, You can be amazing! </em> </h4>
    </div>
</div>

<div class="container-s1">
    <img class="bg-img-s3">
    <div class="row no-margin">
        <div class="col-lg-5 col-md-4 left-content">
            <div class="concern-text">
                <h3>Everyone Deserves a Magical Wedding</h3><br>
                <p style="font-size: 16px">
                    Creating the perfect wedding can seem overwhelming. Everything starts and stops with you. That's a big task. 
                </p><br>
                <p style="font-size: 16px">
                    We understand how you feel and that's why we're here to make sure your night is perfect. Our wedding instructors have been doing this a long time. We'll put you on a path to not only <u> <b>your newlywed dance </b></u>, but to <u><b>shine on the dance floor throughout the night </b></u>. After all, we believe dancing creates cherished memories.
                </p>
            </div>
        </div>
        <div class="col-lg-7 col-md-8">
        </div>
    </div>
</div>

<div class="bg-img-s4" style="text-align: center; color: black">
    <p style="font-size: 16px; padding-top: 2%; text-align: center">------------------ What to expect ------------------</p>
    <h3 style="font-family: initial"> <em>Prepare For Your Perfect Night </em></h3>
    <div class="row no-margin"> <!-- style="color:#347f7e" -->
        <div class="col-sm-1"> </div>
        <div class="col-sm-2">
            <p> <b>1 </b> </p> 
            <img class="expect-icon" src="../../assets/img/Wedding-S4-Handshake-Icon.jpg"><br>
            <p> <b>Meet & Greet</b> </p>
            <p> Get acquainted with your instructor and the studio. Here you'll establish expectations and have all your questions answered as well as establish expectations.   </p>
        </div>
        <div class="col-sm-2">
            <p> <b>2 </b> </p> 
            <img class="expect-icon" src="../../assets/img/Wedding-S4-Music-Notes.jpg"><br>
            <p> <b>Song & Style</b> </p>
            <p> Pick your special song and we'll show you what type of dance it is. </p>
            <p> We'll also go over your reception's playlist so you can dance the whole night. not just one song.</p>
        </div>
        <div class="col-sm-2">
            <p> <b>3 </b> </p>
            <img class="expect-icon" src="../../assets/img/Wedding-S4-Plan-symbol.jpg"><br>
            <p> <b>Your Plan</b> </p>
            <p> Together, we'll create a plan to ensure you’re ready for the big day.    </p>
        </div>
        <div class="col-sm-2">
            <p> <b>4 </b> </p> 
            <img class="expect-icon" src="../../assets/img/Wedding-S4-Dance-Practice.jpg"><br>
            <p> <b> Practice  </b></p>
            <p> With scheduled lessons, your instructor will teach you how to own the dance floor. You'll be amazed at your progress.   </p>
        </div>
        <div class="col-sm-2">
            <p> <b>5 </b> </p> 
            <img class="expect-icon" src="../../assets/img/Wedding-S4-Wedding-Dance-Icon.jpg"><br>
            <p> <b>Enjoy the Party</b> </p>
            <p> There is nothing quite like a fun night of dancing.   </p>
            <p> Take your new skills and own the night and the dance floor.    </p>
        </div>
        <div class="col-sm-1"> </div>
    </div>

    <div style="color: black; text-align: center; padding: 1% 0% 1% 0%;">
        <h4> <em> Unsure of what song to pick? Don't worry, we've been doing this a long time. We'll be glad to give you suggestions </em> </h4>
    </div>
    <div style="padding-bottom: 2%; color: black">
        <button class="btn btn-success" title="Click to contact">Have questions? Contact us today!</button>
    </div>
</div>

<div class="container-s1">
    <img class="bg-img-s5">
    <div class="center-content-s5">
        <h3 style="text-align: center; color: black; font-family: initial"><em>What will your wedding look like ?</em></h3>
    </div>
    <div class="row no-margin">
        <div class="left-content-s5">
            <div class="col-sm-6">
                <div class="content-box-left" style="text-align: left;">
                    <div class="content-div" style="background-color: rgba(47,47,47,0.6); padding: 2%">
                        <h6> Define your moment---------------------- </h6>
                        <h3>What makes weddings memorable?</h3><br>
                        <p>
                            Most weddings are beautiful. They're usually the right venue with the right amount of color and character. Yet why are weddings not all equally mesmerizing? Why are some more fun than others? It's simple. Fun weddings dance and boring ones don’t.
                        </p><br>
                        <p>-See our weddings packages below. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-box-right" style="text-align: left;">
                    <div class="content-div" style="background-color: rgba(47,47,47,0.6); padding: 2%">
                        <h6> Capture your moment---------------------- </h6>
                        <h3>The wedding everyone talks about?</h3><br>
                        <p>
                            Imagine it. From the start of your newlywed dance to the end of the night, you're joyfully dancing. Your happiness becomes contagious and everyone wants to share in your moment. This is what defines the best weddings. This is what people talk about for years to come. 
                        </p><br>
                        <p>-Call us today and schedule your lesson.  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="text-align: center">
    <h3>Select Your Wedding Dance Package.</h3>
    <div class="row no-margin"> <!-- style="color:#347f7e" -->
        <div class="col-sm-3 package-padding">
            <h3 style="font-family: initial;"> Basic</h3>
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img class="package-icon" src="../../assets/img/S6-Wedding-Cake-Wedding-Basic.jpg">
                    </div>
                    <div class="flip-box-back">
                        <h4>Wedding Basic</h4><br>
                        <p> 3 Lessons</p><br>
                        <p> $265</p><br>
                        <button class="btn btn-success" title="Click to register">Register Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 package-padding">
            <h3 style="font-family: initial;">Standard</h3>
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img class="package-icon" src="../../assets/img/S6-Wedding-Lapel-Wedding-Standard.jpg">
                    </div>
                    <div class="flip-box-back">
                        <h4>Wedding Standard</h4><br>
                        <p> 5 Lessons</p><br>
                        <p> $425</p><br>
                        <button class="btn btn-success" title="Click to register">Register Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 package-padding">
            <h3 style="font-family: initial;">Platinum</h3>
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img class="package-icon" src="../../assets/img/S6-Wedding-Invitations-Wedding-Platinum.jpg">
                    </div>
                    <div class="flip-box-back">
                        <h4>Wedding Platinum</h4><br>
                        <p> 10 Lessons</p><br>
                        <p> $810</p><br>
                        <button class="btn btn-success" title="Click to register">Register Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 package-padding">
            <h3 style="font-family: initial;">Group</h3>
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img class="package-icon" src="../../assets/img/S6-Wedding-Bouqet-Wedding-Group.jpg">
                    </div>
                    <div class="flip-box-back">
                        <h4>Wedding Group</h4><br>
                        <p> Call for special rates</p><br>
                        <button class="btn btn-success" title="Click to register">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Carousel indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="img-box active">
            <img src="../../assets/img/S7-Reviews-1.jpg" alt="">
        </li>
		<li data-target="#myCarousel" data-slide-to="1" class="img-box">
            <img src="../../assets/img/S7-Reviews-2.jpg" alt="">
        </li>
		<li data-target="#myCarousel" data-slide-to="2" class="img-box">
            <img src="../../assets/img/S7-Reviews-3.jpg" alt="">
        </li>
        <li data-target="#myCarousel" data-slide-to="3" class="img-box">
            <img src="../../assets/img/S7-Reviews-4.jpg" alt="">
        </li>
	</ol>   
	<!-- Wrapper for carousel items -->
	<div class="carousel-inner">		
		<div class="item carousel-item active">
            <div style="background-color: #28211b;">
                <img class="bg-review-1">
                <div class="center-content-s8">
                    <p class="testimonial">"So many people were shocked I could dance. Such an amazing night. I had so much fun!</p>
                    <p class="overview"><b>---- Paula Wilson ----</b></p>
                </div>
            </div>
		</div>
		<div class="item carousel-item">
            <div style="background-color: #28211b;">
                <img class="bg-review-2">
                <div class="center-content-s8">
                    <p class="testimonial">"So many people were shocked I could dance. Such an amazing night. I had so much fun!</p>
                    <p class="overview"><b>---- Bob Roberts ----</b></p>
                </div>
            </div>
		</div>
		<div class="item carousel-item">
            <div style="background-color: #28211b;">
                <img class="bg-review-3">
                <div class="center-content-s8">
                    <p class="testimonial">"So many people were shocked I could dance. Such an amazing night. I had so much fun!</p>
                    <p class="overview"><b>---- Paula Wilson ----</b></p>
                </div>
            </div>
		</div>	
        <div class="item carousel-item">
            <div style="background-color: #28211b;">
                <img class="bg-review-4">
                <div class="center-content-s8">
                    <p class="testimonial">"So many people were shocked I could dance. Such an amazing night. I had so much fun!</p>
                    <p class="overview"><b>---- Bob Roberts ----</b></p>
                </div>
            </div>
		</div>
	</div>
	<!-- Carousel controls -->
	<!--<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
		<i class="fa fa-angle-left"></i>
	</a>
	<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
		<i class="fa fa-angle-right"></i>
	</a>-->
</div>

<!-- <div class="images">
    <div class="desktop-image">
      <img src="https://images.cdn.fourfourtwo.com/sites/fourfourtwo.com/files/styles/image_landscape/public/lacazette-cropped_1du1hebls4tv11c8ef7kdpyok1.jpg?itok=Lh3EAtTj&c=87b6d99828d88c1b8ffe17a08d24fc7d">
    </div>
</div> -->
<div class="container-s1" style="background-color: #28211b;">
    
        <img class="bg-img-s8">
        <div class="center-content-s8">
            <h3>Dance with your friends</h3><br>
            <p style="font-size: 16px">
                Imagine dancing the night away with your closest friends. Help them avoid watching the fun from the sidelines. They probably want to dance too. They just don’t know how. 
            </p>
            <p style="font-size: 16px">
                We can design an exclusive class for you and your special wedding guests. You'll acquire the necessary tools to enjoy dancing the entire night.
            </p>
            <p style="font-size: 16px">
                Create the weddings of your dreams. Contact us today for special pricing.
            </p><br>
            <button class="btn btn-success" title="Click to register">Contact Us</button>
        </div>
   
</div>

<div class="container-s1">
        <div class="row">
            <img class="bg-1-whatif">
            <div class="col-sm-6 left-content">
                <div class="s9-text">
                    <h3>Think about "what if." </h3><br>
                    <p style="font-size: 16px">
                        What if you learned to dance? What if you become a confident dancer? How would your wedding night change? How would your world change?
                    </p><br>
                    <p style="font-size: 16px">Think about where you are today. Think about where you could be months after training your first dance step. We believe dance opens doors to life. Join us we will show you.</p><br>
                    <p style="font-size: 16px; font-weight: bold"> Call us today and schedule your first lesson.</p>
                </div>
            </div>
            <img class="img-s9">
            <img class="bg-2-whatif">
        </div>
</div>