
.content-box {
    //width: 31.333%;
    background-color: rgba(47,47,47,0.6);
    color: #FFFFFF;
    position: relative;
    margin: 20% 10% 20% 5%;
    //min-height: 50%;
    //max-height: 50%;
    border: 0px;
    overflow: hidden;
    vertical-align: center;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.content-div {
    //width: 31.333%;
    color: #FFFFFF;
    margin: 10px; 
    border:1px solid #8a6d3b;
    position: relative;
    //min-height: 380px;
    //max-height: 380px;
}


.bg-img-s1 {
    top: -9999px;
    //margin: auto;
    //position: relative;
    width: 100%;
    //height: 100%;
    min-width: 100%;
    height: 100vh;
    object-fit: cover;
    content: url(../../assets/img/cropped3.jpg);
    //display: block;
}

.s5-row-img-1 {
    //margin: auto;
    //position: relative;
    height: 84px;
    width: 60px;
    margin: 196px 30px 10px 571px;
    object-fit: cover;
    content: url(../../assets/img/Wedding-S5-Wall-photos.jpg);
    //display: block;
}

.s5-row-img-2 {
    //margin: auto;
    //position: relative;
    height: 84px;
    width: 60px;
    margin: 196px 30px 10px 75px;
    object-fit: cover;
    content: url(../../assets/img/Wedding-S5-Wall-photo-2.jpg);
    //display: block;
}

.s5-row-img-3 {
    //margin: auto;
    //position: relative;
    height: 84px;
    width: 60px;
    margin: -115px 30px 10px 892px;
    object-fit: cover;
    content: url(../../assets/img/Wedding-S5-Wall-photos-3.jpg);
    //display: block;
}

.bg-img-s5 {
    position: relative;
    background-color: #2F2F2F;
    height: 100%;
    background-image: url(../../assets/img/Wedding-S5-main-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    //font-size: .9375vw;
    display: block;
}

.bg-img-s2 {
    position: relative;
    background-color: #2F2F2F;
    height: 100%;
    background-image: url(../../assets/img/S2-Grey-Background.jpeg);
    background-size: cover;
    background-position: center;
    //font-size: .9375vw;
    display: block;
}

.bg-img-s3 {
    position: relative;
    background-color: #2F2F2F;
    height: 100%;
    background-image: url(../../assets/img/S3-Philosophical.jpeg);
    background-size: cover;
    background-position: center;
    //font-size: .9375vw;
    display: block;
}

.bg-img-s8 {
    //position: relative;
    height: 80vh;
    width: 100%;
    min-width: 100%;
    content: url(../../assets/img/S8-Group-Dance.jpg);
    //font-size: .9375vw;
    object-fit: cover;
    opacity: 0.4;
}

.expect-icon {
    position: relative;
    //background-color: #2F2F2F;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    //font-size: .9375vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.package-icon {
    position: relative;
    //background-color: #2F2F2F;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    //font-size: .9375vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bg-img-s4 {
    position: relative;
    background-color: #2F2F2F;
    height: 100%;
    background-image: url(../../assets/img/Wedding-S4-background.jpeg);
    background-size: cover;
    background-position: center;
    //font-size: .9375vw;
    display: block;
}

.img-s9 {
    position: relative;
    content: url(../../assets/img/S9-What-If-pic.jpg);
    object-fit: cover;
    height: 300;
    width: 400px;
}

.bg-1-whatif {
    position: relative;
    background-color: #2F2F2F;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-image: url(../../assets/img/S2-Grey-Background.jpeg);
}

.bg-2-whatif {
    background-image: url(../../assets/img/S2Turquoise-textured.jpeg);
    position: relative;
    background-color: #2F2F2F;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.s2-img-textured {
    position: relative;
    background-color: #2F2F2F;
    height: 30%;
    background-image: url(../../assets/img/S2Turquoise-textured.jpeg);
    background-size: cover;
    //background-position: 50% 50%;
    //font-size: .9375vw;
    margin: 2% 0% 0% 0%;
    display: block;
}


/* .bg-img .row ::-webkit-scrollbar {
    width: 6px;
    border-radius: 5em;
}

.bg-img .row ::-webkit-scrollbar-thumb {
    border-radius: 5em;
    background-color: #811a17;
}

.bg-img .row ::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.1);
    border-radius: 5em;
} */

.nopadding {
    padding: 0;
}

.no-space {
    margin: 0px !important;
    padding: 0px !important;
}

.no-margin {
    margin: 0;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.text-center {
    text-align: center;
}

.concern-text {
    padding: 20% 10% 20% 10%;
    color: #FFFFFF;
}

.desktop-image {
    background-image: url(../../assets/img/S2Turquoise-textured.jpeg);
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 50%;
    //border: 5px solid #0f0f10;
    position: relative;
}

.desktop-image>img {
    width: 40%;
    //height: 80%;
    //border: 5px solid #0f0f10;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(0, -50%);
}

/* p>b {
    color: #333
} */

.package-padding {
    padding: 2%;
}

  /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 300px;
    //border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-box-back {
    opacity: 0.9;
    background-color: #28211b;
    color: white;
    padding-top: 40px;
    transform: rotateY(180deg);
}

.bg-review-1 {
    position: relative;
    height: 500px;
    //height: 50vh;
    width: 100%;
    content: url(../../assets/img/S7-Reviews-1.jpg);
    object-fit: cover;
    opacity: 0.4;
}

.bg-review-2 {
    position: relative;
    height: 500px;
    width: 100%;
    min-width: 100%;
    content: url(../../assets/img/S7-Reviews-2.jpg);
    object-fit: cover;
    opacity: 0.4;
}

.bg-review-3 {
    position: relative;
    height: 500px;
    width: 100%;
    min-width: 100%;
    content: url(../../assets/img/S7-Reviews-3.jpg);
    object-fit: cover;
    opacity: 0.4;
}

.bg-review-4 {
    position: relative;
    height: 500px;
    width: 100%;
    min-width: 100%;
    content: url(../../assets/img/S7-Reviews-4.jpg);
    object-fit: cover;
    opacity: 0.4;
}

.carousel {
    width: 100%;
    height: 500px;
	margin: 0 auto;
	padding-bottom: 0px;
}

.carousel .item {
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 500px;
}

.carousel .img-box {
	width: 40px;
	height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
.carousel .img-box img {
	width: 100%;
    height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {	
    padding: 25% 10% 0% 10%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}
.carousel .overview {	
	text-align: center;
    padding-bottom: 5px;
}
.carousel .overview b {
	color: #FFFFFF;
    font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
.carousel .carousel-control {
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: #999;
    text-shadow: none;
	top: 4px;
}
.carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}
.carousel-control.left {
	left: auto;
	right: 40px;
}
.carousel-control.right i {
	margin-right: -2px;
}
.carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
    height: 50px;
    width: 50px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border-color: transparent;
}
.carousel-indicators li.active {
	border: none;
	background: #888;
}






/* Container holding the image and the text */
.container-s1 {
    position: relative;
    text-align: center;
    color: white;
    max-width: 100%;
    max-height: 100%;
}

/* Centered text */
.left-content {
    position: absolute;
    top: 10%;
    left: 0%;
    //width: 40%;
    //max-width: 100%;
    //@at-rootmax-height: 100%;
    //transform: translate(-50%, -50%);
}

.center-content-s8 {
    position: absolute;
    top: 30%;
    left: 0%;
    //width: 40%;
    //max-width: 100%;
    //@at-rootmax-height: 100%;
    //transform: translate(-50%, -50%);
}

.center-content {
    position: absolute;
    top: 10%;
    left: 30%;
    //width: 40%;
    //max-width: 100%;
    //@at-rootmax-height: 100%;
    //transform: translate(-50%, -50%);
}
